#elem1 {
    width: 200px;
    border: 1px solid orange;
}
#elem2 {
    margin: 25px 50px 100px 10px;
    height: 50px;
    border: 1px dashed blue;
}

#elem4 {
    margin: 100px 50px;
    height: 50px;
    border: 1px dashed blue;
}
#elem5 {
    margin: 25px 50px;
    height: 50px;
    border: 1px dashed blue;
}
#elem6 {
    margin: 100px 50px 30px;
    height: 50px;
    border: 1px dashed blue;
}
#elem7_base {
	width: 400px;
    border: 1px solid orange;
}
#elem7 {
    margin: 30px 100px 50px;
    height: 50px;
    border: 1px dashed blue;
}