#elem {
	padding: 10px 20px 30px 40px; /* все */
	width: 300px;
	border: 1px solid red;
	text-align: justify;
}
#elem1 {
	padding: 60px 30px; /* все */
	width: 300px;
	border: 1px solid red;
	text-align: justify;
}
#elem2 {
	padding: 10px 20px 40px; /* все */
	width: 300px;
	border: 1px solid red;
	text-align: justify;
}