p {
	color: rgb(255,98,0);
    width: 300px;
    text-align: justify; width: 300px;
}
h1 {
	color: green; 
	text-align: left;
}
h2 {
	color: #c10087;
	text-align: center;
	width: 300px;
}
h3 {
	color: red;
}
td {
	width: 400px; height: 300px;
	text-align: center;
}
table {
	height: 500px;
}
th {
	text-align: left;
}